footer{
    margin-top: 250px;;
}
li.nav-item a{
    text-transform: uppercase;
    margin-right: 30px;
}
.carousel h1{
    font-family: 'Lora';
    font-weight: bold;
}
.features p.subtitle, .desainer p.subtitle, .similar-product p.subtitle, .header p.subtitle, figcaption p.subtitle{
   color: #B7B7B7; 
   font-size: 15px;
}
.features .figure{
    text-align: center;
}

.features .figure p.title, .desainer p.title, .header h3.title{
    font-family: 'Montserrat';
    font-weight: 400;
    color: #171717;
    margin-bottom: 0px;
    font-size: 18px;
}
.features .figure p.subtitle{
    font-family: 'Montserrat';
    font-weight: 300;
    color:#B7B7B7 ;
    font-size: 15px;
}
.figure .figure-img {
position: relative;
}
.figure-img a{
background-color:rgba(0, 0, 0, 0.7);
position: absolute;
top: 0px;
bottom: 8px;
left: 0;
right: 0 ;
opacity: 0 ;
transition: opacity 0.7s;
}
.figure-img a:hover{
opacity: 0.7 ;
}
/* Single Product */
.product-thumbnail{
    padding: 8px;
    background-color: white;
    transform: scale(0.9) translateY(-50px) translateX(50px);
    box-shadow: 1px 1px 10px grey;
    width: 75%;
}
.product-thumbnail img{
    width: 70px;
    margin: 0;
}
.single-product .figure h5{
font-size: 50px;
}

/* Akhir Single Product */

a.cart,a.wishlist{
    /* display: block; */
    margin-top: 15px;
    /* width: 20em; */
    text-decoration: none;
}
a.cart{
    background-color: #F9B234;  
    color: white;
    margin-top: 50px;
}
a.wishlist{
    background-color: #F6F7FB;  
    color: #ADADAD;
}
.product-description {
    height: 350px;
    font-family: 'Montserrat';
    background-color: #F6F7FB;
    padding-top: 30px;
} 
.product-description a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.product-description .tab-content{
    font-weight: 300;
    border: 1px solid #dee2e6;
    border-top: 0;
    color: #868686;
    line-height: 28px;
    height: 350px;
    overflow: scroll;

}
#reviews h5{
    margin-top: 8px;
    color: black;
    margin-bottom: 0;
}
#reviews p{
    font-size: 14px;
    color: #ADADAD;
    margin-bottom: 0;
}

.similar-product p.title-similar{
    font-family: 'Montserrat';
    font-size: 22px;
}
.similar-product p.subtitle-similar{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #B7B7B7;
}

/* Cart */
section.cart p.title{
    font-weight: bold;
}
section.cart p.item-name{
    font-weight: 500;
    margin-bottom: 0;

}
.biaya p.item-subtitle, .cart p.item-subtitle{
    color: #B7B7B7;
    margin-bottom: 0;

}

/* Akhir Cart */
